---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OTX/149,57/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "[FILTERED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 1d3d9f5b
      X-Server-Id:
      - vm-bldr-nids-apiapp15.ncep.noaa.gov
      X-Edge-Request-Id:
      - f0f3e095
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -116.973,
                            46.999
                        ],
                        [
                            -116.978,
                            47.0197
                        ],
                        [
                            -117.0085,
                            47.0163
                        ],
                        [
                            -117.00359999999999,
                            46.9955
                        ],
                        [
                            -116.973,
                            46.999
                        ]
                    ]
                ]
            },
            "properties": {
                "units": "us",
                "forecastGenerator": "BaselineForecastGenerator",
                "generatedAt": "2025-04-16T02:01:59+00:00",
                "updateTime": "2025-04-16T00:16:24+00:00",
                "validTimes": "2025-04-15T18:00:00+00:00/P7DT10H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 915.924
                },
                "periods": [
                    {
                        "number": 1,
                        "name": "Tonight",
                        "startTime": "2025-04-15T19:00:00-07:00",
                        "endTime": "2025-04-16T06:00:00-07:00",
                        "isDaytime": false,
                        "temperature": 42,
                        "temperatureUnit": "F",
                        "temperatureTrend": "",
                        "probabilityOfPrecipitation": {
                            "unitCode": "wmoUnit:percent",
                            "value": null
                        },
                        "windSpeed": "5 mph",
                        "windDirection": "SW",
                        "icon": "https://api.weather.gov/icons/land/night/sct?size=medium",
                        "shortForecast": "Partly Cloudy",
                        "detailedForecast": "Partly cloudy. Low around 42, with temperatures rising to around 44 overnight. Southwest wind around 5 mph."
                    },
                    {
                        "number": 2,
                        "name": "Wednesday",
                        "startTime": "2025-04-16T06:00:00-07:00",
                        "endTime": "2025-04-16T18:00:00-07:00",
                        "isDaytime": true,
                        "temperature": 57,
                        "temperatureUnit": "F"[...]
