---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/OTX/149,57/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "[FILTERED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - c92c5f6f
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - b06a27e8
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -116.973,
                            46.999
                        ],
                        [
                            -116.978,
                            47.0197
                        ],
                        [
                            -117.0085,
                            47.0163
                        ],
                        [
                            -117.00359999999999,
                            46.9955
                        ],
                        [
                            -116.973,
                            46.999
                        ]
                    ]
                ]
            },
            "properties": {
                "units": "us",
                "forecastGenerator": "BaselineForecastGenerator",
                "generatedAt": "2025-04-13T20:14:17+00:00",
                "updateTime": "2025-04-13T17:03:30+00:00",
                "validTimes": "2025-04-13T11:00:00+00:00/P7DT14H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 915.924
                },
                "periods": [
                    {
                        "number": 1,
                        "name": "This Afternoon",
                        "startTime": "2025-04-13T13:00:00-07:00",
                        "endTime": "2025-04-13T18:00:00-07:00",
                        "isDaytime": true,
                        "temperature": 52,
                        "temperatureUnit": "F",
                        "temperatureTrend": "",
                        "probabilityOfPrecipitation": {
                            "unitCode": "wmoUnit:percent",
                            "value": null
                        },
                        "windSpeed": "2 to 6 mph",
                        "windDirection": "W",
                        "icon": "https://api.weather.gov/icons/land/day/few?size=medium",
                        "shortForecast": "Sunny",
                        "detailedForecast": "Sunny, with a high near 52. West wind 2 to 6 mph."
                    },
                    {
                        "number": 2,
                        "name": "Tonight",
                        "startTime": "2025-04-13T18:00:00-07:00",
                        "endTime": "2025-04-14T06:00:00-07:00",
                        "isDaytime": false,
                        "temperature": 32,
                        "temperatureUnit": "F",
                        "temperatureTrend": "",
         [...]
