---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/45.2397485,-123.6054803
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "[FILTERED]"
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/45.2397,-123.6055"
      X-Correlation-Id:
      - 1d3d91de
      X-Server-Id:
      - vm-bldr-nids-apiapp2.ncep.noaa.gov
      X-Edge-Request-Id:
      - f0f3cf1c
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "1d3d91de",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/1d3d91de"
        }
  recorded_at: Wed, 16 Apr 2025 02:01:58 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/45.2397,-123.6055
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "[FILTERED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 44e520e
      X-Server-Id:
      - vm-bldr-nids-apiapp12.ncep.noaa.gov
      X-Edge-Request-Id:
      - f0f3d4e4
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/45.2397,-123.6055",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -123.6055,
                    45.2397
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/45.2397,-123.6055",
                "@type": "wx:Point",
                "cwa": "PQR",
                "forecastOffice": "https://api.weather.gov/offices/PQR",
                "gridId": "PQR",
                "gridX": 80,
                "gridY": 97,
                "forecast": "https://api.weather.gov/gridpoints/PQR/80,97/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/PQR/80,97/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/PQR/80,97",
                "observationStations": "https://api.weather.gov/gridpoints/PQR/80,97/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -123.824616,
                            45.27901
                        ]
                    },
                    "properties": {
                        "city": "Beaver",
                        "state": "OR",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 17698.485631856
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 104
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/ORZ106",
                "county": "https://api.weather.gov/zones/county/ORC057",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/ORZ682",
                "timeZone": "America/Los_Angeles",
                "radarStation": "KRTX"
            }
        }
  recorded_at: Wed, 16 Apr 2025 02:01:59 GMT
recorded_with: VCR 6.3.1
