---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/999,999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "[FILTERED]"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - 44e5382
      X-Server-Id:
      - vm-bldr-nids-apiapp9.ncep.noaa.gov
      X-Edge-Request-Id:
      - f0f3dd72
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "44e5382",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '999,999' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/44e5382"
        }
  recorded_at: Wed, 16 Apr 2025 02:01:59 GMT
recorded_with: VCR 6.3.1
