---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/999,999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "[FILTERED]"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - a1bc9fc6
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - b06a2458
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "a1bc9fc6",
            "title": "Invalid Parameter",
            "type": "https://api.weather.gov/problems/InvalidParameter",
            "status": 400,
            "detail": "Parameter \"point\" is invalid: '999,999' does not appear to be a valid coordinate",
            "instance": "https://api.weather.gov/requests/a1bc9fc6"
        }
  recorded_at: Sun, 13 Apr 2025 20:14:15 GMT
recorded_with: VCR 6.3.1
