---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?benchmark=4&city=New%20York&format=json&state=NY&street=315%20Bowery&zip=10003
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: "[FILTERED]"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"zip":"10003","city":"New York","street":"315
        Bowery","state":"NY"},"benchmark":{"isDefault":true,"benchmarkDescription":"Public
        Address Ranges - Current Benchmark","id":"4","benchmarkName":"Public_AR_Current"}},"addressMatches":[{"tigerLine":{"side":"R","tigerLineId":"59661278"},"coordinates":{"x":-73.992154089981,"y":40.725164353193},"addressComponents":{"zip":"10003","streetName":"BOWERY","preType":"","city":"NEW
        YORK","preDirection":"","suffixDirection":"","fromAddress":"301","state":"NY","suffixType":"","toAddress":"315","suffixQualifier":"","preQualifier":""},"matchedAddress":"315
        BOWERY, NEW YORK, NY, 10003"}]}}'
  recorded_at: Wed, 16 Apr 2025 02:03:22 GMT
recorded_with: VCR 6.3.1
