<div class="container d-flex border pt-2 pb-42m-2 rounded" style="background: linear-gradient(to right, #fafaf2, #3f3c6b);">

  <div class="container p-2 col-5  text-dark rounded text-center">
    <p class="h5"><%= day[:afternoon] %>'s High</p>
    <p class="display-5"><%= day[:high] %></p>
  </div>

  <div class="container p-2 col-5 text-white rounded text-center">
    <p class="h5"><%= day[:night] %>'s Low</p>
    <p class="display-5"><%= day[:low] %></p>
  </div>
</div>